/* COLOUR VARIABLES
 ============================================================== */
$pale-blue: #F5F7FF; // primary lightest
$lavender-blue: #EBEEFE; // primary-light
$blueberry-blue: #6366F1; // primary
$royal-blue: #4338CA; // primary-dark
$navy-blue: #312E81; // primary-darkest

$ghost-white: #F8F9FA; // secondary-lightest
$anti-flash-white: #F3F4F6; // secondary-light
$slate-grey: #6C737F; // secondary
$blue-grey: #384250; // secondary-dark
$midnight-blue: #111927; // secondary-darkest

$pinkish-beige: #FEF3F2; // danger-lightest
$misty-rose: #FEE4E2; // danger-light
$scarlet: #F04438; // danger
$brownish-orange: #B42318; // danger-dark
$brownish-undertone: #7A271A; // danger-darkest

$corn-silk: #FFFAEB; // warning-lightest
$slight-orange: #FEF0C7; // warning-light
$tangerine: #F79009; // warning
$orange-brown: #B54708; // warning-dark
$reddish-brown: #7A2E0E; // warning-darkest

$baby-blue: #ECFDFF; // info-lightest
$light-blue: #CFF9FE; // info-light
$turquoise-blue: #06AED4; // info
$prussian-blue: #0E7090; // info-dark
$slight-blue: #164C63; // info-darkest

$mint-cream: #F0FDF9; // success-lightest
$pale-aqua: #CCFBEF; // success-light
$turquoise: #15B79E; // success
$pine-green: #107569; // success-dark
$evergreen: #134E48; // success-darkest

$bluish-gray: #F5F7FF; // indigo-lightest
$lavender-gray: #EBEEFE; // indigo-light
$dark-bluish-purple: #6366F1; // indigo
$saturated-bluish-purple: #4338CA; // indigo-dark
$royal-purple: #312E81; // indigo-darkest

$lavender-mist: #F9F5FF; // purple-lightest
$soap: #F4EBFF; // purple-light
$violet: #9E77ED; // purple
$purple-heart: #6941C6; // purple-dark
$bluish-purple: #42307D; // purple-darkest

$greenish-white: #F6FEF9; // green-lightest
$honeydew-green: #EDFCF2; // green-light
$green-sea: #16B364; // green
$muted-pine-green: #087443; // green-dark
$hunter-green: #084C2E; // green-darkest

$muted-ghost-white: #F5F8FF; // blue-lightest
$bluish-white: #EBEFFF; // blue-light
$electric-blue: #2970FF; // blue
$cobalt-blue: #004EEB; // blue-dark
$muted-prussian-blue: #00359E; // blue-darkest
/* COLOUR VARIABLES END
 ============================================================== */

/* COLORS MAP
 ============================================================== */
$colors: (
  "pale-blue":                 $pale-blue,
  "lavender-blue":             $lavender-blue,
  "blueberry-blue":            $blueberry-blue,
  "royal-blue":                $royal-blue,
  "navy-blue":                 $navy-blue,
  "ghost-white":               $ghost-white,
  "anti-flash-white":          $anti-flash-white,
  "slate-grey":                $slate-grey,
  "blue-grey":                 $blue-grey,
  "midnight-blue":             $midnight-blue,
  "pinkish-beige":             $pinkish-beige,
  "misty-rose":                $misty-rose,
  "scarlet":                   $scarlet,
  "brownish-orange":           $brownish-orange,
  "brownish-undertone":        $brownish-undertone,
  "corn-silk":                 $corn-silk,
  "slight-orange":             $slight-orange,
  "tangerine":                 $tangerine,
  "orange-brown":              $orange-brown,
  "reddish-brown":             $reddish-brown,
  "baby-blue":                 $baby-blue,
  "light-blue":                $light-blue,
  "turquoise-blue":            $turquoise-blue,
  "prussian-blue":             $prussian-blue,
  "slight-blue":               $slight-blue,
  "mint-cream":                $mint-cream,
  "pale-aqua":                 $pale-aqua,
  "turquoise":                 $turquoise,
  "pine-green":                $pine-green,
  "evergreen":                 $evergreen,
  "lavender-mist":             $lavender-mist,
  "soap":                      $soap,
  "violet":                    $violet,
  "purple-heart":              $purple-heart,
  "bluish-purple":             $bluish-purple,
  "bluish-gray":               $bluish-gray,
  "lavender-gray":             $lavender-gray,
  "dark-bluish-purple":        $dark-bluish-purple,
  "saturated-bluish-purple":   $saturated-bluish-purple,
  "royal-purple":              $royal-purple,
  "greenish-white":            $greenish-white,
  "honeydew-green":            $honeydew-green,
  "green-sea":                 $green-sea,
  "muted-pine-green":          $muted-pine-green,
  "hunter-green":              $hunter-green,
  "muted-ghost-white":         $muted-ghost-white,
  "bluish-white":              $bluish-white,
  "electric-blue":             $electric-blue,
  "cobalt-blue":               $cobalt-blue,
  "muted-prussian-blue":       $muted-prussian-blue
);
/* COLORS MAP END
 ============================================================== */

/* THEMING COLOUR VARIABLES
 ============================================================== */
$primary-lightest:    $pale-blue;
$primary-light:       $lavender-blue;
$primary:             $blueberry-blue;
$primary-dark:        $royal-blue;
$primary-darkest:     $navy-blue;
$secondary-lightest:  $ghost-white;
$secondary-light:     $anti-flash-white;
$secondary:           $slate-grey;
$secondary-dark:      $blue-grey;
$secondary-darkest:   $midnight-blue;
$danger-lightest:     $pinkish-beige;
$danger-light:        $misty-rose;
$danger:              $scarlet;
$danger-dark:         $brownish-orange;
$danger-darkest:      $brownish-undertone;
$warning-lightest:    $corn-silk;
$warning-light:       $slight-orange;
$warning:             $tangerine;
$warning-dark:        $orange-brown;
$warning-darkest:     $reddish-brown;
$info-lightest:       $baby-blue;
$info-light:          $light-blue;
$info:                $turquoise-blue;
$info-dark:           $prussian-blue;
$info-darkest:        $slight-blue;
$success-lightest:    $mint-cream;
$success-light:       $pale-aqua;
$success:             $turquoise;
$success-dark:        $pine-green;
$success-darkest:     $evergreen;
$indigo-lightest:     $bluish-gray;
$indigo-light:        $lavender-gray;
$indigo:              $dark-bluish-purple;
$indigo-dark:         $saturated-bluish-purple;
$indigo-darkest:      $royal-purple;
$purple-lightest:     $lavender-mist;
$purple-light:        $soap;
$purple:              $violet;
$purple-dark:         $purple-heart;
$purple-darkest:      $bluish-purple;
$green-lightest:      $greenish-white;
$green-light:         $honeydew-green;
$green:               $green-sea;
$green-dark:          $muted-pine-green;
$green-darkest:       $hunter-green;
$blue-lightest:       $muted-ghost-white;
$blue-light:          $bluish-white;
$blue:                $electric-blue;
$blue-dark:           $cobalt-blue;
$blue-darkest:        $muted-prussian-blue;
/* THEMING COLOUR VARIABLES END
 ============================================================== */

/* THEMING COLORS MAP
 ============================================================== */
$theme-colors: (
  "primary-lightest":     $primary-lightest,
  "primary-light":        $primary-light,
  "primary":              $primary,
  "primary-dark":         $primary-dark,
  "primary-darkest":      $primary-darkest,
  "secondary-light":      $secondary-light,
  "secondary":            $secondary,
  "secondary-dark":       $secondary-dark,
  "danger-lightest":      $danger-lightest,
  "danger-light":         $danger-light,
  "danger":               $danger,
  "danger-dark":          $danger-dark,
  "danger-darkest":       $danger-darkest,
  "warning-lightest":     $warning-lightest,
  "warning-light":        $warning-light,
  "warning":              $warning,
  "warning-dark":         $warning-dark,
  "warning-darkest":      $warning-darkest,
  "info-lightest":        $info-lightest,
  "info-light":           $info-light,
  "info":                 $info,
  "info-dark":            $info-dark,
  "info-darkest":         $info-darkest,
  "success-lightest":     $success-lightest,
  "success-light":        $success-light,
  "success":              $success,
  "success-dark":         $success-dark,
  "success-darkest":      $success-darkest,
  "indigo-lightest":      $indigo-lightest,
  "indigo-light":         $indigo-light,
  "indigo":               $indigo,
  "indigo-dark":          $indigo-dark,
  "indigo-darkest":       $indigo-darkest,
  "purple-lightest":      $purple-lightest,
  "purple-light":         $purple-light,
  "purple":               $purple,
  "purple-dark":          $purple-dark,
  "purple-darkest":       $purple-darkest,
  "green-lightest":       $green-lightest,
  "green-light":          $green-light,
  "green":                $green,
  "green-dark":           $green-dark,
  "green-darkest":        $green-darkest,
  "blue-lightest":        $blue-lightest,
  "blue-light":           $blue-light,
  "blue":                 $blue,
  "blue-dark":            $blue-dark,
  "blue-darkest":         $blue-darkest,
  "dark":                 $secondary-darkest,
  "light":                $secondary-lightest,
);
/* THEMING COLORS MAP END
 ============================================================== */

/* DEFAULT FONT SIZE
 ============================================================== */
$font-size-base:              1rem;

/* HEADINGS
 ============================================================== */
$h1-font-size:                $font-size-base * 3; // 3rem = 48px
$h2-font-size:                $font-size-base * 2; // 32px
$h3-font-size:                $font-size-base * 1.5; // 24px
$h4-font-size:                $font-size-base * 1.25; // 20px
$h5-font-size:                $font-size-base * 1; // 16px
$h6-font-size:                0.875rem; // 14px

$headings-font-weight:     600;
/* HEADINGS END
 ============================================================== */

/* FONT SIZES
 ============================================================== */
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);
/* FONT SIZES END
 ============================================================== */

/* DISPLAY FONT SIZES
 ============================================================== */
$display-font-sizes: (
  1: 6rem, // 96px
  2: 4.75rem, // 76px
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);
/* DISPLAY FONT SIZES END
 ============================================================== */

/* SHADOWS
 ============================================================== */
$box-shadow-sm:               0 4px 4px rgba(black, .25);
$box-shadow-lg:               .875rem .875rem .4rem -1px rgba(black, .25);
/* SHADOWS END
 ============================================================== */

/* CHECKBOX
 ============================================================== */
$form-check-input-width:                  2em;
$form-check-padding-start:                $form-check-input-width + .75em;
$form-check-input-border:                 3px solid $primary;
$form-check-input-border-radius:          .5em;
$form-check-input-checked-color:          black;
$form-check-input-checked-bg-color:       white;
$form-check-input-checked-border-color:   $primary;
$form-check-input-focus-border:           $primary;
/* CHECKBOX END
 ============================================================== */